{% extends 'base.html.twig' %}

{% block title %}Création salons
{% endblock %}

{% block body %}

	<main class="backgoundEdit">

		<h1 class="text-center backgroundShow">Créations salons</h1>

		<section class="backgroundShow formMargin">

			{{ include('halls/_form.html.twig') }}

			<div class="text-center">

				<a href="{{ path('app_halls_index') }}" class="btn btn-light">Retour</a>

			</div>

		</section>

	</main>

{% endblock %}
