{% extends 'base.html.twig' %}

{% block title %}Mention-legal
{% endblock %}

{% block body %}

	<main class="row mainIndexBackground">
		<div class="col-8 text-center">
			<h1 class="yellow text-center">
				Mentions légales de CinéWeb
			</h1>

			<h2 class="yellow">
				Informations éditeur
			</h2>

			<p class="white">
				Le site web CinéWeb est édité par Delmée Eddy.
			</p>

			<h2 class="yellow">
				Directeur de la publication
			</h2>

			<p class="white">
				Le directeur de la publication du site web CinéWeb est Delmée Eddy.
			</p>

			<h2 class="yellow">
				Hébergeur
			</h2>

			<p class="white">
				Le site web CinéWeb est hébergé par O2SWITCH.
			</p>

			<h2 class="yellow">
				Conditions d'utilisation
			</h2>

			<p class="white">
				L'utilisation du site web CinéWeb implique l'acceptation pleine et entière des conditions générales d'utilisation décrites sur cette page.
			</p>

			<h2 class="yellow">
				Propriété intellectuelle
			</h2>

			<p class="white">
				Tous les textes, images, sons, vidéos, logos, marques et autres éléments présents sur le site web CinéWeb sont protégés par la législation sur la propriété intellectuelle. Toute reproduction, représentation, modification, publication, adaptation totale ou partielle des éléments du site, quel que soit le moyen ou le procédé utilisé, est interdite sans autorisation écrite préalable de l'éditeur.
			</p>

			<h2 class="yellow">
				Données personnelles
			</h2>

			<p class="white">
				Les informations collectées sur le site web CinéWeb sont traitées conformément à notre politique de confidentialité.
			</p>

			<h2 class="yellow">
				Droit applicable
			</h2>

			<p class="white">
				Les présentes mentions légales sont soumises à la loi française. En cas de litige, les tribunaux français seront seuls compétents.
			</p>

			<p class="white">Ces mentions légales peuvent être modifiées à tout moment sans préavis. Il est donc conseillé de les consulter régulièrement pour être informé des éventuelles mises à jour.</p>
		</div>
	</main>

{% endblock %}
