{% extends 'base.html.twig' %}

{% block title %}Politique-de-confidentialite
{% endblock %}

{% block body %}

	<main class="row mainIndexBackground">
		<div class="col-8 text-center">
			<h1 class="yellow text-center">
				Politique de confidentialité de CinéWeb
			</h1>

			<p class="white">
				CinéWeb est déterminé à protéger la confidentialité des informations de ses utilisateurs. Nous avons élaboré cette politique de confidentialité pour vous informer sur les types de données que nous collectons, les raisons pour lesquelles nous les collectons et comment nous les utilisons.
			</p>


			<h2 class="yellow">
				Types de données collectées
			</h2>

			<p class="white">
				Informations de base, l'adresse e-mail.
			</p>

			<h2 class="yellow">
				Raisons de la collecte de données
			</h2>

			<p class="white">
				Pour but de passer un titre de développeur web.
			</p>

			<h2 class="yellow">
				Modification de notre politique de confidentialité
			</h2>

			<p class="white">
				Nous pouvons mettre à jour notre politique de confidentialité de temps en temps. Nous vous informerons de tout changement important en publiant une nouvelle version sur notre site.
			</p>

			<p class="white">Si vous avez des questions sur notre politique de confidentialité, veuillez nous contacter à l'adresse e-mail testanepasprendreencompte@gmail.com</p>
		</div>
	</main>

{% endblock %}
