.yellow {
  color: rgb(255, 221, 0);
}

.blue {
  color: rgb(34, 86, 255);
}

.newIndexColorWhite, .white {
  color: rgb(255, 255, 255);
}

.backgroundShow, .grey {
  background-color: rgb(55, 59, 62);
  padding: 1em;
}

h1, h2, h3, h4, h5, a {
  font-family: "Oleo Script", cursive;
  text-decoration: none !important;
}

.Roboto {
  font-family: "Oleo Script", cursive;
  font-family: "Roboto", sans-serif;
}

a:hover {
  color: rgb(55, 59, 62);
}

.margeBurger {
  margin-right: 0.8em;
}

.containerNav {
  display: inline-block;
  cursor: pointer;
  padding-right: 50px;
}

.bar1, .bar2, .bar3 {
  width: 1.8em;
  height: 0.2em;
  background-color: rgb(255, 255, 255);
  margin: 0.25em;
  transition: 0.4s;
}

.change .bar1 {
  transform: translate(0, 8px) rotate(-45deg);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  transform: translate(0, -10px) rotate(45deg);
}

.fixe {
  height: 73vh;
}

.navbarColorBlack {
  color: rgb(0, 0, 0) !important;
  padding: 0.25rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: #4b4c4d;
  border: 2px solid black;
  border-radius: 0.25rem;
}

.heightMin {
  min-height: 73vh;
  margin: 0;
  background: rgb(0, 0, 0);
  background: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(0, 0, 0) 15%, rgb(34, 86, 255) 45%, rgb(34, 86, 255) 55%, rgb(0, 0, 0) 85%, rgb(0, 0, 0) 100%);
}

.footer-clean {
  padding: 50px 0;
  background-color: #fff;
  color: #4b4c4d;
}

.footer-clean h3 {
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 16px;
}

.footer-clean ul {
  padding: 0;
  list-style: none;
  line-height: 1.6;
  font-size: 14px;
  margin-bottom: 0;
}

.footer-clean ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
}

.footer-clean ul a:hover {
  opacity: 1;
}

.footer-clean .item.social {
  text-align: right;
}

@media (max-width: 767px) {
  .footer-clean .item {
    text-align: center;
    padding-bottom: 20px;
  }
}
@media (max-width: 768px) {
  .footer-clean .item.social {
    text-align: center;
  }
}
.footer-clean .item.social > a {
  font-size: 24px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #ccc;
  margin-left: 10px;
  margin-top: 22px;
  color: inherit;
  opacity: 0.75;
}

.footer-clean .item.social > a:hover {
  opacity: 0.9;
}

@media (max-width: 991px) {
  .footer-clean .item.social > a {
    margin-top: 40px;
  }
}
@media (max-width: 767px) {
  .footer-clean .item.social > a {
    margin-top: 10px;
  }
}
.footer-clean .copyright {
  margin-top: 14px;
  margin-bottom: 0;
  font-size: 13px;
  opacity: 0.6;
}

#carousel {
  position: relative;
  height: 25em;
  top: 50%;
  transform: translateY(2%);
  overflow: hidden;
}

#carousel div {
  position: absolute;
  transition: transform 1s, left 1s, opacity 1s, z-index 0s;
  opacity: 1;
}

#carousel div img {
  width: 16em;
  transition: width 1s;
}

#carousel div img:hover {
  width: 17.8em;
  transition: width 0.3s;
  position: relative;
}

#carousel div.hideLeft {
  left: 0%;
  opacity: 0;
  transform: translateY(50%) translateX(-50%);
}

#carousel div.hideLeft img {
  width: 30px;
}

#carousel div.hideRight {
  left: 100%;
  opacity: 0;
  transform: translateY(50%) translateX(-50%);
}

#carousel div.hideRight img {
  width: 2em;
  transition: width 1s;
}

#carousel div.prev {
  z-index: 5;
  left: 30%;
  transform: translateY(50px) translateX(-50%);
}

#carousel div.prev img {
  width: 13em;
}

#carousel div.prevLeftSecond {
  z-index: 4;
  left: 15%;
  transform: translateY(50%) translateX(-50%);
  opacity: 0.7;
}

#carousel div.prevLeftSecond img {
  width: 8em;
}

#carousel div.selected {
  z-index: 10;
  left: 50%;
  transform: translateY(0px) translateX(-50%);
}

#carousel div.next {
  z-index: 5;
  left: 70%;
  transform: translateY(50px) translateX(-50%);
}

#carousel div.next img {
  width: 13em;
}

#carousel div.nextRightSecond {
  z-index: 4;
  left: 85%;
  transform: translateY(50%) translateX(-50%);
  opacity: 0.7;
}

#carousel div.nextRightSecond img {
  width: 8em;
}

.button5 {
  border-radius: 50%;
}

.button5:hover {
  border-radius: 50%;
  background-color: rgb(255, 221, 0);
}

.mainIndexBackground {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mainIndexCenterCard {
  min-height: 1em;
  max-width: 50em;
  padding-top: 2em;
  padding-bottom: 2em;
}

table {
  width: 100%;
}

td,
th {
  text-align: center;
}

@media (max-width: 767px) {
  .mainIndexCenterCard {
    min-height: 1em;
    max-width: 30em;
    padding-top: 2em;
    padding-bottom: 2em;
  }
}
.resetWhiteRight {
  position: fixed;
  bottom: 50px;
  right: 50px;
}

.resetWhite {
  color: rgb(255, 255, 255);
  font-size: 3em;
  padding: 0.7em;
}

@media (max-width: 1070px) {
  .resetWhiteRight {
    height: 0px;
    width: 0px;
  }
  .resetWhite {
    height: 0px;
    width: 0px;
  }
}
.formColor {
  color: rgb(255, 255, 255) !important;
}

.formMargin {
  margin-left: 5em;
  margin-right: 5em;
}

.backgroundNew {
  background-color: rgb(55, 59, 62);
  padding: 1em;
}

.marginNew {
  margin-left: 5em;
  margin-right: 5em;
}

.newIndexBlockTopBot {
  margin: 0;
  background-color: rgb(55, 59, 62);
}

.newIndexCreat {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 2em;
  padding-bottom: 2em;
  font-size: 2em;
}

.newIndexCenterBlock {
  padding-top: 3em;
  padding-bottom: 3em;
  font-size: 2em;
}

.newIndexCenter {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.newIndexCenterLeft {
  margin-right: 4em;
}

.newIndexColor {
  color: rgb(255, 255, 255);
}

.newIndexCenterRight {
  margin-left: 4em;
}

.newIndexCenterRightText {
  width: 30em;
  font-size: 1.5em;
}

.newFrontbackgroundVisitor {
  padding-top: 1em;
  padding-bottom: 3em;
  background: rgb(55, 59, 62);
}

.centerMap {
  padding-top: 20vh;
}

.centermovie {
  display: flex;
  flex-direction: column;
  align-items: center;
}/*# sourceMappingURL=style.css.map */