{% extends 'base.html.twig' %}

{% block title %}Modifier Horaires
{% endblock %}

{% block body %}

	<main class="backgoundEdit">

		<h1 class="text-center grey yellow">Nouvelle Horaire</h1>

		<section class="backgroundShow formMargin">

			{{ include('sessions/_form.html.twig', {'button_label': 'Confirmer'}) }}

			<div class="text-center">

				{{ include('sessions/_delete_form.html.twig') }}

				<a href="{{ path('app_sessions_index') }}" class="btn btn-light mt-3">Retour</a>

			</div>

		</section>

	</main>

{% endblock %}
