{% extends 'base.html.twig' %}

{% block title %}New Sessions{% endblock %}

{% block body %}
    <h1>Créations sessions</h1>

    {{ include('sessions/_form.html.twig') }}

    <a href="{{ path('app_sessions_index') }}">Retour</a>
{% endblock %}
