{# <forms.form.scss> #}
<div class="formColor">
	{{ form_start(form) }}
	{{ form_widget(form) }}
</div>
<div class="text-center mb-3">
	<button class="btn btn-success">{{ button_label|default('Save') }}</button>
</div>
{{ form_end(form) }}
{# </forms.form.scss> #}
