{% extends 'base.html.twig' %}

{% block title %}Modifier Genres
{% endblock %}

{% block body %}

	<main class="backgoundEdit">

		<h1 class="text-center grey yellow">Nouveau genre</h1>

		<section class="backgroundShow formMargin">

			{{ include('categories/_form.html.twig', {'button_label': 'Update'}) }}

			<div class="text-center">

				{{ include('categories/_delete_form.html.twig') }}

				<a href="{{ path('app_categories_index') }}" class="btn btn-light mt-3">Retour</a>

			</div>

		</section>

	</main>

{% endblock %}
