{% extends 'base.html.twig' %}

{% block title %}Création categories
{% endblock %}

{% block body %}


	{# <news.new.scss> #}
	<main class="backgroundNew">

		<h1 class="text-center backgroundNew">Créations Catégories</h1>

		<section class="backgroundNew marginNew">

			{{ include('categories/_form.html.twig') }}

			<div class="text-center">

				<a href="{{ path('app_categories_index') }}" class="btn btn-light">Retour</a>

			</div>

		</section>

	</main>
	{# </news.new.scss> #}


{% endblock %}
