{% extends 'base.html.twig' %}

{% block title %}Editer Films{% endblock %}

{% block body %}
    <h1>Nouveau film</h1>

    {{ include('movies/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_movies_index') }}">Retour</a>

    {{ include('movies/_delete_form.html.twig') }}
{% endblock %}
