{% extends 'base.html.twig' %}

{% block title %}Modifier Films
{% endblock %}

{% block body %}

	<main class="backgoundEdit">
		<h1 class="text-center backgroundShow">Nouveau film</h1>

		<section class="text-center">

			{{ include('movies/_form.html.twig', {'button_label': 'Confirmer'}) }}

			<div class="text-center">

				{{ include('movies/_delete_form.html.twig') }}

				<a href="{{ path('app_main') }}" class="btn btn-light mt-3">Retour</a>

			</div>

		</section>

	</main>
	
{% endblock %}
