{% extends 'base.html.twig' %}

{% block title %}Créations films
{% endblock %}

{% block body %}

	<main class="backgroundNew">

		<h1 class="text-center backgroundNew">Créations films</h1>

		<section class="backgroundNew marginNew">

			{{ include('movies/_form.html.twig') }}

			<div class="text-center">

				<a href="{{ path('app_movies_index') }}" class="btn btn-light">Retour</a>

			</div>

		</section>

	</main>

{% endblock %}
