{% extends 'base.html.twig' %}

{% block title %}Création films{% endblock %}

{% block body %}
    <h1>Créations films</h1>

    {{ include('movies/_form.html.twig') }}

    <a href="{{ path('app_movies_index') }}">Retour</a>
{% endblock %}
