{% extends 'base.html.twig' %}

{% block title %}Editer Actualités
{% endblock %}

{% block body %}

	<main class="backgoundEdit">
		<h1 class="text-center">Nouvelle actualité</h1>

		<section class="textCenter1">

				{{ include('news/_form.html.twig', {'button_label': 'Update'}) }}

			<a href="{{ path('app_news_index') }}" class="btn btn-light">Retour</a>

			{{ include('news/_delete_form.html.twig') }}


		</section>

	</main>

{% endblock %}
