{% extends 'base.html.twig' %}

{% block title %}création actualiter
{% endblock %}

{% block body %}

	<main class="backgoundEdit">

		<h1 class="text-center backgroundShow">Créations actualités</h1>

		<section class="backgroundShow formMargin">

			{{ include('news/_form.html.twig') }}

			<div class="text-center">

				<a href="{{ path('app_news_index') }}" class="btn btn-light">Retour</a>

			</div>

		</section>

	</main>

{% endblock %}
