{% extends 'base.html.twig' %}

{% block title %}création actualiter{% endblock %}

{% block body %}
    <h1>Créations actualités</h1>

    {{ include('news/_form.html.twig') }}

    <a href="{{ path('app_news_index') }}">Retour</a>
{% endblock %}
