{% extends 'base.html.twig' %}

{% block title %}création actualiter
{% endblock %}

{% block body %}


{# <news.new.scss> #}
	<main class="backgroundNew">

		<h1 class="text-center backgroundNew">Créations actualités</h1>

		<section class="backgroundNew marginNew">

			{{ include('news/_form.html.twig') }}

			<div class="text-center">

				<a href="{{ path('app_news_index') }}" class="btn btn-light">Retour</a>

			</div>

		</section>

	</main>
	{# </news.new.scss> #}


{% endblock %}
