// newEdit

.backgoundEdit {
    background-color: rgba(55,59,62,1);
    padding: 1em;
}

.textCenter1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 64vh;
}

// formEdit

.formcolor {
    color: white !important;
}