{% extends 'base.html.twig' %}

{% block title %}Editer Recommendations
{% endblock %}

{% block body %}

	<main class="backgoundEdit">

		<h1 class="text-center backgroundShow">Nouvelle recommendation</h1>

		<section class="backgroundShow formMargin">

			{{ include('recommendations/_form.html.twig', {'button_label': 'Update'}) }}

			<div class="text-center">

				{{ include('recommendations/_delete_form.html.twig') }}

				<a href="{{ path('app_recommendations_index') }}" class="btn btn-light mt-3">Retour</a>

			</div>

		</section>

	</main>

{% endblock %}
