{% extends 'base.html.twig' %}

{% block title %}New Recommendations
{% endblock %}

{% block body %}


	{# <news.new.scss> #}
	<main class="backgroundNew">

		<h1 class="text-center backgroundNew">Créations recommendation</h1>

		<section class="backgroundNew marginNew">

			{{ include('recommendations/_form.html.twig') }}

			<div class="text-center">

				<a href="{{ path('app_recommendations_index') }}" class="btn btn-light">Retour</a>
                
			</div>

		</section>

	</main>
	{# </news.new.scss> #}


{% endblock %}
