{% extends 'base.html.twig' %}

{% block title %}New Recommendations
{% endblock %}

{% block body %}

	<main class="backgoundEdit">

		<h1 class="text-center backgroundShow">Créations recommendation</h1>

		<section class="backgroundShow formMargin">

			{{ include('recommendations/_form.html.twig') }}

			<div class="text-center">

				<a href="{{ path('app_recommendations_index') }}" class="btn btn-light">Retour</a>
                
			</div>

		</section>

	</main>

{% endblock %}
